
.main_headers {
    position: fixed;
    left: 0;
    top: 0;
    background: #4860c7;
    width: 100%;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
}
.main_header:hover,
.main_header:active{
}

.toggle_button {
    width: 3rem;
    background: transparent;
    padding-top: 0;
    padding-bottom: 0;
    border: none;
    cursor: pointer;
}

.toggle_button__bar {
    width: 100%;
    height: 0.2rem;
    background: black;
    display: block;
    margin: 0.6rem 0;
}

.main_nav {
    display: none;
}

.mobile_nav {
    position: fixed;
    background: whitesmoke;
    width: 80vw;
    height: 100vh;
    z-index: 101;
    display: none;
}

.main_nav__item {
    margin: 0 1rem;
}

.main_nav__items {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}
.main_nav__items li:hover{
    background-color: #072bb6;

}

.main_header__cart {
    position: relative;
    background: #ffffff;
    padding: 0 0.5rem;
    border-radius: 0.5rem;
}

.header_cart__qty {

    position: absolute;
    top:2%;
    right:0.5%;
    color:white;
    font-size: 1rem;
    font-weight:bolder;
    padding:0.5rem;
    border-radius: 50% 50%;
    background: linear-gradient(#F08E4A, #e27b36);
     box-shadow: inset -25px 0 #c15711;
}

.mobile_nav__item {
    margin: 1rem 0;
}

.mobile_nav__item a {
    font-size: 1.5rem;
}

.mobile_nav__item a,
.main_nav__item a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    padding: 0.5rem 0;
}

.main_nav__item a:hover,
.main_nav__item a:active {
    color: #ffffff;
    border-bottom: 0.3rem solid whitesmoke;
}

.mobile_nav__cta a,
.main_nav__cta a {
    color: #4860c7;
    background: #ffffff;
    padding: 0.5rem 1rem;
    border-radius: 8px;
}

.mobile_nav__cta a:hover,
.mobile_nav__cta a:active,
.main_nav__cta a:active,
.main_nav__cta a:hover {
    color: #061065;
    border: none;
}

.mobile_nav__items {
    list-style: none;
    width: 90%;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.main_footer {
    background: black;
    padding: 2rem;
    margin-top: 3rem;
    text-align: center;
}

.main_footer__links {
    list-style: none;
    margin: 0;
    padding: 0;
}

.main_footer__link {
    display: block;
    margin: 1rem 0;
}

.main_footer__link a {
    text-decoration: none;
    color: #ffffff;
}

.main_header__brand {
    color: #ffffff;
    text-decoration: none;
    font-weight: bolder;
    font-size: 1.6rem;
    height: 2.5rem;
}

.main_footer__link a:hover,
.main_footer__link a:active {
    color: #ccc;
}

.backdrop {
    background: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 90;
    display: none;
    top: 0;
    left: 0;
}

.modal {
    position: fixed;
    z-index: 100;
    background: whitesmoke;
    left: 30%;
    top: 20%;
    width: 40%;
    padding: 1rem;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    display: none;
}

.modal__title {
    text-align: center;
    margin: 0;
}

.modal__actions {
    text-align: center;
}

.modal__action {
    border: 1px solid green;
    background-color: green;
    text-decoration: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font: inherit;
    color: #ffffff;

}

.modal__action:hover,
.modal__action:active {
    border: 1px solid lightgreen;
    background-color: lightgreen;
}

.modal__action--negative {
    background-color: red;
    border-color: red;
}

.modal__action--negative:hover,
.modal__action--negative:active {
    background-color: mediumvioletred;
    border-color: mediumvioletred;
}

.modal__action--negative:focus {
    outline: none;
}

@media (min-width: 40rem) {
    .main_footer__link {
        margin: 0 1rem;
    }

    .main_footer__links {
        display: flex;
        justify-content: center;
    }
}

@media (min-width: 40rem) {
    .toggle_button {
        display: none;
    }
}
.main_nav {
    display: flex;
}